In [24]:
    """
    1. Pandas를 이용하여 두개의 Data set을 읽어 들인 후 “제작국가” 
    column을 추가하고 한국영화에는 “한국”, 
    외국영화에는 “외국”이라고 표시하시오.
    """
    
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df2 = pd.read_csv(r'역대흥행1000_영화\역대흥행500_외국영화.csv')
df = pd.read_csv(r'역대흥행1000_영화\역대흥행500_한국영화.csv')

df['제작국가']='한국'
df2['제작국가']='외국'

In [31]:
df['관객수'][30]

'8,008,622'

In [35]:
    """ 2. 이중 한국영화의 자료에는 숫자가 1000단위만다 “,”가 있어 외국영화와 다른 형식으로 표현되어 있습니다. 
    한국영화의 DataFrame에서 정수를 표시하는 “,” 를 삭제하시오.
    또한 외국영화 자료에는 “Not a Number”를 나타내는 nan 이 있는데 이를 숫자 0으로 바꾸시오.
    (참고: Python String의 replace method를 각 column에 적용해 보는 것을 고려해 볼 수 있다
    """
    

df['관객수'] = df['관객수'].str.replace(',','',)
df['스크린수'] = df['스크린수'].str.replace(',','',)
df2['관객수'] = df2['관객수'].str.replace(',','',)
df2['스크린수'] = df2['스크린수'].str.replace(',','',)

In [36]:
dfsdf

      순위        영화명         개봉일              매출액       관객수  스크린수 제작국가
0      1         명량  2014-07-30  135,748,398,910  17613682  1587   한국
1      2       극한직업  2019-01-23  139,647,979,516  16264944  1978   한국
2      3  신과함께-죄와 벌  2017-12-20  115,698,654,137  14410754  1912   한국
3      4       국제시장  2014-12-17  110,913,469,630  14257115   966   한국
4      5        베테랑  2015-08-05  105,168,155,250  13414009  1064   한국
..   ...        ...         ...              ...       ...   ...  ...
495  496   시체가 돌아왔다  2012-03-29    7,360,631,000    986923   435   한국
496  497    원더풀 라디오  2012-01-05    7,255,598,000    986287   474   한국
497  498     전국노래자랑  2013-05-01    6,685,476,000    977873   581   한국
498  499       내 사랑  2007-12-18      432,940,833    977401    56   한국
499  500   돈 크라이 마미  2012-11-22    6,808,882,099    975462   444   한국

[500 rows x 7 columns]