In [101]:
    """
    1. Pandas를 이용하여 두개의 Data set을 읽어 들인 후 “제작국가” 
    column을 추가하고 한국영화에는 “한국”, 
    외국영화에는 “외국”이라고 표시하시오.
    """
    
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df2 = pd.read_csv(r'역대흥행1000_영화\역대흥행500_외국영화.csv')
df = pd.read_csv(r'역대흥행1000_영화\역대흥행500_한국영화.csv')

df['제작국가']='한국'
df2['제작국가']='외국'

In [102]:
df['관객수'][30]

'8,008,622'

In [112]:
    """ 2. 이중 한국영화의 자료에는 숫자가 1000단위만다 “,”가 있어 외국영화와 다른 형식으로 표현되어 있습니다. 
    한국영화의 DataFrame에서 정수를 표시하는 “,” 를 삭제하시오.
    또한 외국영화 자료에는 “Not a Number”를 나타내는 nan 이 있는데 이를 숫자 0으로 바꾸시오.
    (참고: Python String의 replace method를 각 column에 적용해 보는 것을 고려해 볼 수 있다
    """
    

df['관객수'] = df['관객수'].str.replace(',','')
df['스크린수'] = df['스크린수'].str.replace(',','')
df2['관객수'] = df2['관객수'].str.replace(',','')
df2['관객수']= df2['관객수'].str.replace('nan','0')
df2['스크린수']= df2['스크린수'].str.replace('nan','0')

In [115]:
    """3. df. types와 같은 method 를 통해 각 column의 data type 을 출력하고 숫자로 표시되어야 할 “매출액”, “관객수”, “스크린수”는 “float64”로,  “개봉일”은 시간을 나타내는  “datetime64” 형식으로 변경 하시오 (참고: df.astype method등으로 자료의 형식을 변경할 수 있다)
    """
    
df.dtypes
df.astype({'매출액'})

순위       int64
영화명     object
개봉일     object
매출액     object
관객수     object
스크린수    object
제작국가    object
dtype: object

In [73]:
np.nan

nan